<div id="mc-4-1-the-computation-tree-logic-ctl*">
  <h2>{{ 4-1-title }}</h2>

  <p><strong>CTL*</strong>: Temporal Logic describing properties of <em>computation tree</em></p>

  <h4>Computation Tree</h4>

  <ul>
    <li>
      Computation Tree \( \Leftrightarrow \) Kripke structure
      <ul>
        <li>Computation Tree is formed by unwinding the Kripke structure from initial state.</li>
      </ul>
    </li>
    <li>
      All branches are infinite
      <ul>
        <li>\( \because \) Transition relations in Kripke structure is left-total (each state has a successor).</li>
      </ul>
    </li>
  </ul>

  <div class="flex-container">
    <div>
      Kripke structure \( M \)
      {% include_relative {{ mermaid_dir }}/kripke-model.html %}
    </div>
    <p>\( \Longleftrightarrow \)</p>
    <div>
      Computation Tree of \( M \)
      {% include_relative {{ mermaid_dir }}/unwind-kripke-structure.html %}
    </div>
  </div>

  <h4>CTL*</h4>
  
  <p><strong>CTL*</strong>: Temporal Logic describing properties of <em>computation tree</em> (\( \Leftrightarrow \) Kripke structure)</p>

  <h5>CTL* Formulas</h5>
  CTL* formulas are composed of <em>path quantifiers</em> and <em>temporal operators</em>:
  <ul>
    <li>
      <em>Path quantifiers: \( \bm{A}, \bm{E} \)</em>
      <ul>
        <li>
          \( \bm{A} \varphi \) : "all computation paths"
          <ul><li>All paths from a given state have property \( \varphi \)</li></ul>
        </li>
        <li>
          \( \bm{E} \varphi \) : "there exists a computation path"
          <ul><li>At least one path from a given state has property \( \varphi \)</li></ul>
        </li>
      </ul>
    </li>
  </ul>

  {% include_relative {{ mermaid_dir }}/path-quantifiers.html %}

  <ul>
    <li>
      <em>Temporal operators: \( \bm{X}, \bm{F}, \bm{G}, \bm{U}, \bm{R} \)</em>
      <ul>
        <li>
          \( \bm{X} p \) : "next time \( p \)"
          <ul><li>Proposition \( p \) holds on the second state of the path</li></ul>
        </li>
        <div class="flex-container mermaid">
          graph LR
            x0 --> x1 --> x2 --> x3 --> x4

            x0(( ))
            x1((p))
            x2(( ))
            x3(( ))
            x4(( ))
        </div>
        <li>
          \( \bm{F} p \) : "eventually \( p \)" or "in the future \( p \)"
          <ul><li>Property \( p \) holds at some state on the path</li></ul>
        </li>
        <div class="flex-container mermaid">
          graph LR
            f0 --> f1 --> f2 --> f3 --> f4

            f0(( ))
            f1(( ))
            f2(( )) 
            f3((p))
            f4(( ))
        </div>
        <li>
          \( \bm{G} p \) : "always \( p \)" or "globally \( p \)"
          <ul><li>Proposition \( p \) holds at every state on the path</li></ul>
        </li>
        <div class="flex-container mermaid">
          graph LR
            g0 --> g1 --> g2 --> g3 --> g4

            g0((p))
            g1((p))
            g2((p))
            g3((p))
            g4((p))
        </div>
        <li>
          \( p \bm{U} q \) : "\( p \) until \( q \)"
          <ul>
            <li>
              It holds if:
              <ul>
                <li>there is a state on the path where the second property \( q \) holds and</li>
                <li>at every preceding state on the path, the first property \( p \) holds.</li>
              </ul>
            </li>
          </ul>
        </li>
        <div class="flex-container mermaid">
          graph LR
            u0 --> u1 --> u2 --> u3 --> u4
      
            u0((p))
            u1((p))
            u2((p)) 
            u3[q]
            u4(( ))
        </div>
        <li>
          \( p \bm{R} q \) : "\( p \) release \( q \)"
          <ul>
            <li>
              It holds if \( q \) holds along the path up to and including the first state where \( p \) holds.
              <ul>
                <li>\( p \) is not required to eventually hold.</li>
              </ul>
            </li>
            <li>Logical dual of the \( \bm{U} \)</li>
          </ul>
        </li>
        <div class="flex-container mermaid">
          graph LR
            r0 --> r1 --> r2 --> r3 --> r4

            r0[q]
            r1[q]
            r2[q] 
            r3(p,q)
            r4(( ))
        </div>
      </ul>
    </li>
  </ul>

  <div class="example">
    <h5>Example</h5>
  
    <div class="flex-container">
      <div style="width: 50%;" class="flex-center">
        <ul>
          <li>
            \( \pi_0 \models \bm{G} b \)
            <ul><li>On \( \pi_0 \), property \( b \) holds in every state.</li></ul>
          </li>
          <li>
            \( \pi_1 \not\models \bm{G} b \)
            <ul><li>On \( \pi_1 \), property \( b \) does not hold in every state.</li></ul>
          </li>
          <li>
            \( s_0 \models \bm{EG} b \)
            <ul><li>One path (but not all paths) from the initial state \( s_0 \) satisfy \( \bm{G} b \)</li></ul>
          </li>
          <li>
            \( s_0 \not\models \bm{AG} b \)
            <ul><li>All paths from the initial state \( s_0 \) do not satisfy \( \bm{G} b \)</li></ul>
          </li>
        </ul>
      </div>
      <div>
        {% include_relative {{ mermaid_dir }}/ctl-example.html %}
      </div>
    </div>

    This example shows that:
    <ul>
      <li>
        <em>Path quantifiers</em> describe properties of a state.
        <ul><li>"Does a certain path start in this state?"</li></ul>
      </li>
      <li>
        <em>Temporal operators</em> describe properties of a path.
        <ul><li>"Can a certain state be reached along this path?"</li></ul>
      </li>
    </ul>
  </div>

  {% include_relative {{ mermaid_dir }}/path-quantifier-vs-temporal-operator.html %}

</div>
<!-- mc-4-1-the-computation-tree-logic-ctl* -->
