<div id="mc-4-3-temporal-logics-based-on-ctl*">
  <h2>{{ 4-3-title }}</h2>

  <p>In this section, we consider several sublogics of CTL*.</p>
  
  <ul>
    <li>
      <em>Branching-time logics</em> : multiple path quantifiers \( \bm{A}, \bm{E} \)
      <ul>
        <li>CTL</li>
        <li>ACTL*</li>
        <li>ACTL</li>
      </ul>
    </li>
    <li>
      <em>Linear-time logics</em> : single path quantifier \( \bm{A}, \bm{E} \)
      <ul>
        <li>LTL</li>
      </ul>
    </li>
  </ul>

  <p>All four logics have:</p>
  <ul>
    <li>syntactic restriction of CTL*.</li>
    <li>the same semantics of CTL*.</li>
  </ul>

  <div class="flex-container">
    <img src="{{ img_path }}/sublogics.svg">
  </div>

  {% include_relative _4-3-1-the-branching-time-logic-ctl.html %}
  {% include_relative _4-3-2-the-universal-computation-tree-logics.html %}
  {% include_relative _4-3-3-linear-temporal-logic-ltl.html %}
  {% include_relative _4-3-4-relationships-between-fragments-of-ctl.html %}
</div>
<!-- mc-4-3-temporal-logics-based-on-ctl* -->