<div id="mc-4-3-temporal-logics-based-on-ctl*">
  <h2>{{ 4-3-title }}</h2>

  <p>In this section, we consider several sublogics of CTL*.</p>
  
  <div class="flex-container">
    <img src="{{ img_path }}/sublogics.svg">
  </div>
 
  We can divide the sublogics into two groups:
  <ul>
    <li>
      <em>Branching-time logics</em> (CTL, ACTL*, ACTL)
      <ul>
        <li>Describe properties about <strong>sub-trees</strong> (states)</li>
        <li>
          Multiple \( \bm{A}, \bm{E} \)
          <ul>
            <li>ex) \( \bm{AGEF} p \)</li>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <em>Linear-time logics</em> (LTL)
      <ul>
        <li>Describe properties about <strong>a single path</strong></li>
        <li>
          Single \( \bm{A} \)
          <ul>
            <li>ex) \( \bm{AFG} p \)</li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>

  <div class="flex-container">
    <div>
      Branching-time logics
      {% include_relative {{ mermaid_dir }}/branching-time-logics.html %}
    </div>
    <div>
      Linear-time logics
      {% include_relative {{ mermaid_dir }}/linear-time-logics.html %}
    </div>
  </div>

  All four logics have:
  <ul>
    <li>syntactic restriction of CTL*.</li>
    <li>the same semantics of CTL*.</li>
  </ul>

  {% include_relative _4-3-1-the-branching-time-logic-ctl.html %}
  {% include_relative _4-3-2-the-universal-computation-tree-logics.html %}
  {% include_relative _4-3-3-linear-temporal-logic-ltl.html %}
  {% include_relative _4-3-4-relationships-between-fragments-of-ctl.html %}
</div>
<!-- mc-4-3-temporal-logics-based-on-ctl* -->