<div id="mc-4-4-temporal-logic-with-set-atomic-propositions-and-set-semantics">
  <h2>{{ 4-4-title }}</h2>

  <p>
    In logics, a formula can be expressed by sets.<br>
    \[ 0 < \phi < 3 = \{ \phi = 1, \phi = 2 \} \]
  </p>
  
  <p>
    In temporal logics, a formula can be express by sets of states.<br>
    \[ [\![ \bm{EX} (b \land c) ]\!]_{M} = \{ s_0, s_3 \} \]
  </p>

  <div class="flex-container">
    {% include_relative {{ mermaid_dir }}/ctl-example.html %}
  </div>

  <div>
    <h4>Formal Definition</h4>

    \[ [\![ f ]\!]_{M} := \{ s \in S \mid M, s \models f \} \]
  </div>

  <div>
    <h4>Set Atomic Proposition</h4>

    <h5>Syntax</h5>
    Extension of CTL* with <em>set atomic proposition</em>
    <div class="flex-container">
      <p>If \( \{ s_0, ..., s_n \} \in S \), then \( \{ s_0, ..., s_n \} \) is a CTL* state formula called <em>set atomic proposition</em>.</p>
    </div>

    <h5>Semantics</h5>
    
    <div class="table">
      <div class="table-row">
        <div class="table-cell">1a.</div>
        <div class="table-cell">\( M, s \models \{ s_0, s_1, ..., s_n \} \)</div>
        <div class="table-cell">\( \Leftrightarrow \)</div>
        <div class="table-cell">\( s \in \{ s_0, s_1, ..., s_n \} \)</div>
      </div>
    </div>

    <div class="example">
      <h5>Example</h5>
      
      <div class="flex-container">
        <ul>
          <li>\( M,s_1 \models \bm{EX} \{ s_3, s_5 \} \)</li>
          <li>\( M,s_2 \models \bm{EX} \{ s_3, s_5 \} \)</li>
        </ul>
        {% include_relative {{ mermaid_dir }}/set-atomic-proposition-example.html %}
      </div>
    </div>
  </div>

<!--
  <div>
    <p>In fact, I had already used this semantics in <a href="ctl-complex-semantics">CTL* Complex Semantics</a>.</p>
  </div>
-->

</div>
<!-- mc-4-4-temporal-logic-with-set-atomic-propositions-and-set-semantics -->