---
title: Garbage Collection Ch.3-b
subtitle: Reference Counting
date: 2022-05-03
---

{% include_relative _variables.html %}
{% assign img_path = '/assets/img/lecture_materials/GarbageCollection/ch3' | relative_url %}
{% assign mermaid_dir = 'mermaid' %}

<div class="chapter" id="gc-ch3">
  {% include_relative _3-contents.html %}
  {% include_relative _3-overview.html %}
  {% include_relative _3-4-hardware-reference-counting.html %}
  {% include_relative _3-5-cyclic-reference-counting.html %}
  {% include_relative _3-6-issues-to-consider.html %}
  {% include_relative _3-7-notes.html %}
  {% include_relative _3-summary.html %}
</div>