
///*
// Style the tab
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #fafafa;

  // Style the buttons that are used to open the tab content
  button {
    background-color: inherit;
    float: left;
    border: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;

    // Change background color of buttons of hover
    &:hover {
      background-color: #ddd;
    }

    &.active {
      background-color: #ccc;
    }
  }
}

// Style the tab content
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  background-color: white;
  border-top: none;
  margin-bottom: 2em;
}
//*/

/*
.tabs {
  position: relative;
  // min-height: 200px;
  clear: both;
  margin: 25px 0;

  .tab {
    float: left;

    label {
      padding: 10px;
      border: 1px solid #ccc;
      background-color: #f1f1f1;
    }

    [type=radio] {
      display: none;

      &:checked ~ label {
        background: white;
        border-bottom: 1px solid white;
        z-index: 2;
      }

      &:checked ~ label ~ .content {
        z-index: 1;
      }
    }

    .content {
      position: absolute;
      background: white;
      border: 1px solid #ccc;

      top: 28px;
      left: 0;
      right: 0;
      bottom: 0;
    }
  }
}
*/

/*
.tabs {
  overflow: hidden;
  margin: 32px 0;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;

  [type="radio"] {
    display: none;
  }

  .tab {
    float: left;
  }
}

.tab label {
  background: #eee;
  padding: 10px;
  border: 1px solid #ccc;
  margin-left: -1px;
  position: relative;
  left: 1px;
}
.tab [type="radio"] {
  opacity: 0;
}
.content {
  position: absolute;
  top: 28px;
  left: 0;
  background: white;
  right: 0;
  bottom: 0;
  padding: 20px;
  border: 1px solid #ccc;
  overflow: hidden;
}
.content > * {
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.6s ease;
}
[type="radio"]:focus ~ label {
  outline: 2px solid blue;
}
[type="radio"]:checked ~ label {
  background: white;
  border-bottom: 1px solid white;
  z-index: 2;
}
[type="radio"]:checked ~ label ~ .content {
  z-index: 1;
}
[type="radio"]:checked ~ label ~ .content > * {
  opacity: 1;
  transform: translateX(0);
}
*/

// https://codepen.io/MPDoctor/pen/mpJdYe

.tabbed {
  overflow: hidden;
  margin: 32px 0;
  padding-bottom: 16px;
  border-bottom: 1px solid #ccc;

  [type="radio"] {
    display: none;
  }

  .tabs {
    display: flex;
    align-items: stretch;
    list-style: none;
    padding: 0;
    border-bottom: 1px solid #ccc;
  }
}