// custom table class: alignment, no line
.table {
  display: table;
  padding-bottom: 1em;

  .table-row {
    display: table-row;

    .table-cell {
      display: table-cell;
      padding-left: 1em;
    }
  }
}

.background-red {
  //background-color: #FF4F4F;
  background-color: #c7243a;
  color: white;
}
.background-green {
  //background-color: #007744;
  background-color: #1ba466;
  color: white;
}
