<div id="{{ 7-5-id }}">
  <h2>{{ 7-5-title }}</h2>

  {% include_relative _7-5-1-the-write-barrier.html %}
  {% include_relative _7-5-2-entry-tables.html %}
  {% include_relative _7-5-3-remembered-sets.html %}
  {% include_relative _7-5-4-sequential-store-buffers.html %}
  {% include_relative _7-5-5-page-marking-with-hardware-support.html %}
  {% include_relative _7-5-6-page-marking-with-virtual-memory-support.html %}
  {% include_relative _7-5-7-card-marking.html %}
  {% include_relative _7-5-8-remembered-sets-or-cards.html %}
</div>