---
---

@import "chapter";
@import "flex";

.table {
  display: table;
  padding-bottom: 1em;

  .table-row {
    display: table-row;

    .table-cell {
      display: table-cell;
      padding-left: 1em;
    }
  }
}

.code-title {
  font-family: monospace;
  color: $code-title-color;
}

.note {
  color: gray;
}

.mermaid {
  padding-bottom: 2em;
}

.fix-right {
  position: fixed;
  top: 50px;
  right: 50px;
}
