---
---

@import "chapter";
@import "flex";
@import "table";
@import "tab";

.code-title {
  font-family: monospace;
  color: $code-title-color;
}

.note {
  color: gray;
}

.mermaid {
  padding-bottom: 2em;
}

.fix-right {
  position: fixed;
  top: 50px;
  right: 50px;
}
