---
---

@import "chapter";
@import "flex";

ul.check {
  list-style-type: none;

  li::before {
    content: '✔';
    //left: -1.2em;
    color: green;
  }
}

ul.cross {
  list-style-type: none;

  li::before {
    content: '✗';
    //left: -1.2em;
    color: red;
  }
}
