---
title: FSAM[CGO'16]
subtitle: Sparse Flow-Sensitive Pointer Analysis for Multithreaded Programs
date: 2022-12-05
---

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pseudocode@latest/build/pseudocode.min.css">
  <script src="https://cdn.jsdelivr.net/npm/pseudocode@latest/build/pseudocode.min.js"></script>
</head>

<!-- include -->
{% include_relative _variables.html %}
{% include_relative _codes.html %}
{% assign img_path = '/assets/img/research/fsam' | relative_url %}

<!-- menu -->
<ul>
  <li><a href="#abstract">{{ abst-title }}</a></li>
  <li><a href="#background">{{ background-title }}</a></li>
  <li><a href="#approach">{{ approach-title }}</a></li>
  <li><a href="#evaluation">{{ evaluation-title }}</a></li>
  <li><a href="#related-work">{{ related-work-title }}</a></li>
  <li><a href="#summary">{{ summary-title }}</a></li>
  <li><a href="#relation-to-research">{{ relation-title }}</a></li>
</ul>

<!-- contents -->
{% include_relative _abstract.html %}
{% include_relative _background.html %}
{% include_relative _approach.html %}
{% include_relative _evaluation.html %}
{% include_relative _related_work.html %}
{% include_relative _summary.html %}
{% include_relative _relation_to_research.html %}
