---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- comment -%}
    {%- include post-list.html -%}
  {%- endcomment -%}

  <details>
    <summary>Lecture Materials</summary>
    {%- for lecture_material in site.lecture_materials -%}
      {% if lecture_material.url contains "index" %}
        <dl>
          <a href="{{ lecture_material.url | replace: 'index.html', '' | relative_url }}">
            {{ lecture_material.title }}
          </a>
        <dl>
      {% endif %}
    {%- endfor -%}
    
  </details>

</div>