---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- comment -%}
    {%- include post-list.html -%}
  {%- endcomment -%}

  <details>
    <summary>Lecture Materials</summary>
    <ul>
    {%- assign sorted = site.lecture_materials | reverse -%}
    {%- for lecture_material in sorted -%}
      {% if lecture_material.url contains "index" %}
        <li>
          <a href="{{ lecture_material.url | replace: 'index.html', '' | relative_url }}">
            {{ lecture_material.title }}
          </a>
        </li>
      {% endif %}
    {%- endfor -%}
    </ul>
  </details>

  <details>
    <summary>Research</summary>
    <ul>
    {%- assign sorted_research = site.research | reverse -%}
    {%- for research_article in sorted_research -%}
      {% if research_article.url contains "index" %}
        <li>
          <a href="{{ research_article.url | replace: 'index.html', '' | relative_url }}">
            {{ research_article.title }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  </details>

  <details>
    <summary>Survey</summary>
    <ul>
    {%- assign sorted_survey = site.survey | reverse -%}
    {%- for survey_article in sorted_survey -%}
      <li>
        <a href="{{ survey_article.url | relative_url }}">
          {{ survey_article.title }}
        </a>
      </li>
    {%- endfor -%}
    </ul>
  </details>

</div>