---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- comment -%}
    {%- include post-list.html -%}
  {%- endcomment -%}

  <details>
    <summary>Lecture Materials</summary>
    <ul>
    {%- for lecture_material in site.lecture_materials -%}
      {% if lecture_material.url contains "index" %}
        <li>
          <a href="{{ lecture_material.url | replace: 'index.html', '' | relative_url }}">
            {{ lecture_material.title }}
          </a>
        </li>
      {% endif %}
    {%- endfor -%}
    </ul>
  </details>

  <details>
    <summary>Study</summary>
    <ul>
    {%- for study_article in site.study -%}
      {% if study_article.url contains "index" %}
        <li>
          <a href="{{ study_article.url | replace: 'index.html', '' | relative_url }}">
            {{ study_article.title }}
          </a>
        </li>
      {% endif %}
    {% endfor %}
    </ul>
  </details>

</div>