---
title: Canary[PLDI'21]
subtitle: Practical Static Detection of Inter-thread Value-Flow Bugs [PLDI'21]
date: 2021-12-17
---

<head>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/pseudocode@latest/build/pseudocode.min.css">
  <script src="https://cdn.jsdelivr.net/npm/pseudocode@latest/build/pseudocode.min.js"></script>
</head>

<!-- include -->
{% include_relative _variables.html %}
{% include_relative _codes.html %}
{% assign img_path = '/assets/img/research/canary' | relative_url %}

<!-- menu -->
<ul>
  <li><a href="#abstract">{{ abst-title }}</a></li>
  <li><a href="#goal">{{ goal-title }}</a></li>
  <li>
    <a href="#proposed_method">{{ method-title }}</a>
    <ul>
      <li><a href="#data-dependence">{{ data-dependence-title }}</a></li>
      <li><a href="#interference">{{ interference-title }}</a></li>
      <li><a href="#src-sink-check">{{ src-sink-check-title }}</a></li>
    </ul>
  </li>
  <li><a href="#implementation">{{ implementation-title }}</a></li>
  <li><a href="#evaluation">{{ evaluation-title }}</a></li>
  <li><a href="#related-work">{{ related-work-title }}</a></li>
  <li><a href="#conclusion">{{ conclusion-title }}</a></li>
  <li><a href="#relation_to_research">{{ relation-title }}</a></li>
</ul>

<!-- contents -->
{% include_relative _abstract.html %}
{% include_relative _goal.html %}
{% include_relative _proposed_method.html %}
{% include_relative _implementation.html %}
{% include_relative _evaluation.html %}
{% include_relative _related_work.html %}
{% include_relative _conclusion.html %}
{% include_relative _relation_to_research.html %}
