---
title: DG[Software Impacts'20]
subtitle: A program analysis library
date: 2022-07-07
---

<!-- include -->
{% include_relative _names.html %}
{% include_relative _codes.html %}
{% assign img_path = '/assets/img/research/dg' | relative_url %}

<div class="chapter">

<!-- menu -->
<h2>Contents</h2>
<ul>
  <li><a href="#{{ control-dependency-id}}">{{ control-dependency-title }}</a></li>
  <li><a href="#{{ data-dependency-id }}">{{ data-dependency-title }}</a></li>
</ul>

<!-- content -->
{% include_relative _control_dependency.html %}
{% include_relative _data_dependency.html %}

</div>
